<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tienda de repuestos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    </head>
    <body>

        <!-- Navbar -->
        <header th:replace="~{layout/plantilla :: header}"></header>

        <!-- Contenido principal -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Los mejores repuestos al mejor precio</h1>
                <p class="lead">Encuentra repuestos de calidad para tu vehículo</p>
            </div>
        </div>

        <!-- Sección de la empresa -->
        <section class="company-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        
                        <img src="https://live.staticflickr.com/2488/3743175986_e9b28b245c_b.jpg" class="company-image" alt="ImagenEjemplo">


                    </div>
                    <div class="col-md-6">
                        <p class="company-text">Somos una empresa dedicada a proveer los mejores repuestos para vehículos, con una amplia gama de opciones y precios competitivos. Nuestro compromiso es garantizar la calidad y satisfacción de nuestros clientes. ¡Confía en nosotros para encontrar los repuestos que necesitas!</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sección de "Quiénes Somos" -->
        <section class="who-we-are-section">
            <div class="container">
                <h2 class="text-center mb-4">Quiénes Somos</h2>
                <p class="who-we-are-text">
                    En la Tienda de Repuestos, somos un equipo apasionado por los automóviles y la movilidad. Nuestra misión es proporcionar a nuestros clientes los mejores repuestos y accesorios para mantener sus vehículos en perfecto estado y a precios asequibles.
                    <br><br>
                            Con años de experiencia en el mercado, hemos establecido relaciones sólidas con proveedores de repuestos confiables y reconocidos. Nuestra selección de productos está cuidadosamente curada para garantizar la calidad, durabilidad y compatibilidad con una amplia variedad de vehículos.
                            <br><br>
                                    En nuestra tienda, encontrarás un equipo de profesionales altamente capacitados y amantes de los automóviles, dispuestos a brindarte un servicio personalizado y asesoramiento experto para que encuentres exactamente lo que necesitas.
                                    <br><br>
                                            Agradecemos la confianza de nuestros clientes a lo largo de los años y continuamos esforzándonos para ofrecer una experiencia de compra excepcional. Ya sea que estés buscando una pieza específica o desees mejorar el rendimiento de tu vehículo, ¡estamos aquí para ayudarte!
                                            </p>
                                            </div>
                                            </section>

                                            <!-- Footer -->
                                            <footer th:replace="~{layout/plantilla :: footer}"></footer>

                                            <!-- Scripts de Bootstrap y JavaScript -->
                                            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
                                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 


                                            </body>
                                            </html> 