<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
<head th:replace="~{layout/plantilla :: head}">
        <title>Tienda de repuestos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
</head>
<body>

<header th:replace="~{layout/plantilla :: header}"></header>

<!-- Contenido principal -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Los mejores repuestos al mejor precio</h1>
        <p class="lead">Encuentra repuestos de calidad para tu vehículo</p>
    </div>
</div>

<!-- Sección de ubicación -->
    <section class="location-section">
        <div class="container">
            <h2 class="text-center mb-4">Ubicación</h2>
            <p class="location-text">
                Nos encontramos ubicados en la siguiente dirección:
                <br>
                Dirección de la Tienda de Repuestos
            </p>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.388501213681!2d-84.07391170000001!3d9.9015648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e31bc3d760e1%3A0x2896eae8b38b1248!2sRepuestos%20Salazar%20y%20Monge!5e0!3m2!1ses-419!2scr!4v1689899845993!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

<footer th:replace="~{layout/plantilla :: footer}"></footer>

<!-- Scripts de Bootstrap y JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>
</html>