<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <script src="/static/js/scripts.js" type="text/javascript"></script>
        <script>
            
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blah')
                                .attr('src', e.target.result)
                                .height(200);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

        </script>
        <title>Tienda de repuestos</title>
        <style>
            .border-red{
                border-color: #EB5160;
            }

            .bg-red{
                bg-color: #EB5160;
            }


        </style>

    </head>






    <body>

        <!<!-- boton de agregar marca -->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" sec:authorize="hasRole('ROLE_VENDEDOR')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarMarca">
                            <i class="fas fa-plus"></i> Agregar marca nueva
                        </button>
                    </div>
                </div>
            </div>
        </section>
















        <!-- Fragmento para agregar marca -->
        <section th:fragment="agregarMarca">
            <div id="agregarMarca" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header text-white " style="background-color: #EB5160">
                            <h5 class="modal-title text-center">Agregar marca</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <!-- con el fragmento de marca se llama a la clase marca para poder agregar al formulario los detos de marca de la base de datos -->
                        <form th:action="@{/marca/guardar}" th:object="${Marca}"
                              method="POST" class="was-validated" enctype="multipart/form-data">



                            <div class="modal-body">


                                <div class="mb-3">
                                    <label for="descripcion">Nombre</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="activo">Estado</label>
                                    <input type="text" class="form-control" name="activo" required="true"/>
                                </div>


                                <div class="mb-3">
                                    <label for="ruta_imagen">Imagen</label>
                                    <input class="form-control" type="file" name="ruta_imagen" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>















        <!--  Sección principal para mostrar la informaccion de la entidad marca -->
        <section th:fragment="listadoMarcas" id="marcas">
            <section class="container" style="margin-top: 20px;">
                <div class="row">
                    <h3 class="text-box"><span class="badge bg-secondary">Listado de marcas</span> </h3>

                    <br/>
                    <br/>
                    <!-- Muestra los marcas 
                    
                    Se debe cambiar esteticamente, no se ve bien, queda pendiente para el ultimo avance
                    -->
                    <div class="row row-cols-3" 
                         th:if="${marcas != null and !marcas.empty}">
                        <!-- Itera sobre los marcas en grupos de 3 -->
                        <div th:each="marca, iterStat : ${marcas}">

                            <!-- Cada marca se mostrará dentro de una columna-->

                            <div class="card border" >

                                <div class="card-body bg-light border ">     
                                    <!-- Agrega el contenido del marca -->
                                    <img class="card__image border bg-light" th:src="@{${marca.ruta_imagen}}" height="100" widht="200" alt="imagenMarca" />
                                    <br/>
                                    <br/>
                                    <h4 class="card-subtitle mb-2 text-left" th:text="'Id del producto: '+ ${marca.id_marca}"> Id del producto: </h4>
                                    <h4 class="card-title text-left" th:text="'Marca: '+ ${marca.descripcion}"></h4>
                                    <h4 class="card-text text-left" th:text="'Estado: '+ ${marca.activo}"></h4>

                                    <br/>
                                    <figure>
                                        <br/>



                                        <div class="align-right" sec:authorize="hasRole('ROLE_ADMIN')">
                                            <a class="text-right" th:href="@{/marca/modificar/}+${marca.id_marca} "  ><button class="btn btn-info">Actualizar</button></a><a th:href="@{/marca/eliminar/}+${marca.id_marca}"  ><button class="btn btn-danger">Eliminar</button></a>
                                            <br/>
                                            <br/>

                                        </div>

                                    </figure>   
                                </div>



                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </section>
        </section>


           












        <!-- Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarMarca">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/marca/guardar}" 
                          th:object="${marca}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="id_marca" th:field="*{id_marca}"/>
                        <input type="hidden" name="ruta_imagen" th:field="*{ruta_imagen}"/>
                        <section th:replace="~{marca/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Editar</h4>
                                            </div>
                                            <div class="card-body">
                                                <!-- Cambiar el field en el minuto 01:10:00 -->


                                                <div class="mb-3">
                                                    <label for="descripcion">Nombre</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="activo">Estado</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="ruta_imagen">Imagen</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${marca.ruta_imagen}}" alt="ruta_imagen" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/marca/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/marca/eliminar/}+${marca.id_marca}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
